<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Управление БД показателей</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h2>Управление БД показателей</h2>
    <table>
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Значение</th>
            <th>Спортсмен</th>
            <th>Тип параметра</th>
            <th>Дата выставления</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat : ${stats}">
            <td th:text="${stat.name}"></td>
            <td th:text="${stat.description}"></td>
            <td th:text="${stat.value}"></td>
            <td th:text="${stat.user.name} + ' ' + ${stat.user.surname}"></td>
            <td th:text="${stat.type.name}"></td>
            <td th:text="${#dates.format(stat.assignedDate, 'dd-MM-yyyy HH:mm')}"></td>
            <td>
                <a th:href="@{/admin_stats/edit(stat.id)}">Изменить</a>
                <a th:href="@{/admin_stats/delete(stat.id)}">Удалить</a>
            </td>
        </tr>

        </tbody>
    </table>
    <h3>Добавить новый показатель</h3>
    <form action="/admin_stats/addStat" method="post">
        <label for="name">Название:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="description">Описание:</label><br>
        <input type="text" id="description" name="description"><br>
        <label for="value">Значение:</label><br>
        <input type="number" step="0.01" id="value" name="value"><br>
        <label for="userId">Спортсмен:</label><br>
        <select id="userId" name="userId">
            <option th:each="user : ${users}" th:value="${user.id}"
                    th:text="${#strings.concat(user.name, ' ', user.surname, ' - ', user.age)} + ' ' + лет"></option>
        </select>
        <label for="typeId">Тип параметра:</label><br>
        <select id="typeId" name="typeId">
            <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
        </select>
        <button type="submit">Добавить</button>
    </form>
    <hr>
    <h3>Дополнительные возможности:</h3>
    <a th:href="@{/admin_stat_types}">Управление типами показателей</a>
    <hr>
    <a th:href="@{/users}">Управление пользователями</a>
    <a th:href="@{/admin_stats}">Просмотр показателей спортсменов</a>
    <a th:href="@{/view-profile}">Просмотр профиля спортсмена</a>
    <a th:href="@{/rating}">Рейтинг спортсменов</a>
    <a th:href="@{/analysis}">Анализ и прогнозирование</a>
    <a th:href="@{/login}">Выйти</a>
</div>
</body>
</html>
