<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Анализ и прогнозирование</title>
</head>
<body>
<h1>Анализ и прогнозирование</h1>
<form th:action="@{/analytics}" method="post">
    <div>
        <label for="athlete">Выберите спортсмена:</label>
        <select id="athlete" name="athlete">
            <option th:each="athlete : ${athletes}" th:value="${athlete}" th:text="${athlete}"></option>
        </select>
    </div>
    <div>
        <label for="startDate">Выберите период:</label>
        <input type="date" id="startDate" name="startDate">
        <label for="endDate">до</label>
        <input type="date" id="endDate" name="endDate">
    </div>
    <div>
        <button type="submit">Сгенерировать отчет</button>
    </div>
    <div>
        <a href="/">Вернуться к списку спортсменов</a>
    </div>
</form>
<!--График-->

</body>
</html>
