<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Рейтинг</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h2>Рейтинг спортсменов по выбранному параметру</h2>

    <form action="/rating" method="get">
        <label for="typeId">Выберите параметр:</label><br>
        <select id="typeId" name="typeId">
            <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
        </select>
        <button type="submit">Показать рейтинг</button>
    </form>

    <div th:if="${stats == null || stats.isEmpty()}" class="alert alert-info">
        <strong>Нет данных для отображения</strong>
    </div>

    <div th:if="${stats != null && !stats.isEmpty()}">
        <h3>Результат:</h3>
        <table>
            <thead>
            <tr>
                <th>№</th>
                <th>Имя пользователя</th>
                <th>Значение</th>
                <th>Разница со следующим</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stat, iterStat : ${stats}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${stat.user.name} + ' ' + ${stat.user.surname}"></td>
                <td th:text="${stat.value}"></td>
                <td th:if="${differences[iterStat.index] != null}" th:text="${differences[iterStat.index]}"></td>
                <td th:unless="${differences[iterStat.index] != null}">-</td>
            </tr>
            </tbody>
        </table>
        <form action="/rating/save" method="post">
            <input type="hidden" name="typeId" th:value="${typeId}">
            <button type="submit">Сохранить текущий рейтинг</button>
        </form>
    </div>
    <hr>
    <a th:href="@{/users}">Управление пользователями</a>
    <a th:href="@{/admin_stats}">Просмотр показателей спортсменов</a>
    <a th:href="@{/view-profile}">Просмотр профиля спортсмена</a>
    <a th:href="@{/rating}">Рейтинг спортсменов</a>
    <a th:href="@{/analysis}">Анализ и прогнозирование</a>
    <a th:href="@{/login}">Выйти</a>
</div>
</body>
</html>
