<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мои показатели</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container">
    <h2>Мои показатели</h2>
    <ul class="stats-list">
        <li th:each="stat : ${stats}">
            <span th:text="${stat.name}"></span>
            <span th:text="${#dates.format(stat.assignedDate, 'dd-MM-yyyy')}"></span>:
            <span th:text="${stat.value}"></span>
        </li>
    </ul>

    <canvas id="myChart"></canvas>

    <a class="button" th:href="@{/profile}">Мой профиль</a>
    <a class="button" th:href="@{/logout}">Выйти</a>
</div>


<footer>
    <div class="footer-content">
        <p>© 2023 Все права защищены.</p>
    </div>
</footer>

<script th:inline="javascript">
    const labels = /*[[${statDates}]]*/ [];
    const data = /*[[${statValues}]]*/ [];
    const statNames = /*[[${statNames}]]*/ [];

    const ctx = document.getElementById('myChart').getContext('2d');
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: statNames[0],
                data: data,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        }
    });
</script>
</body>
</html>
